
@{
    ViewData["Title"] = "Edit Category";
}

@model Category

<div class="container">
    <h1>Edit Category</h1>
    <form asp-controller="Category" asp-action="Edit" method="post">
        <input type="hidden" name="_method" value="put" />
        <input type="hidden" asp-for="Id" />
        <div class="" asp-validation-summary="All"></div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Name"></label>
                    <input type="text" asp-for="Name" class="form-control" placeholder="Insert the category name..." required />
                    <span asp-validation-for="Name"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="DisplayOrder"></label>
                    <input type="number" asp-for="DisplayOrder" class="form-control" placeholder="Insert the category name..." required />
                    <span asp-validation-for="DisplayOrder"></span>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-6">
                <button type="submit" class="btn w-full btn-primary">Save</button>
            </div>
            <div class="col-md-6">
                <a asp-controller="Category" asp-action="Index" class="btn w-full btn-outline-secondary">Back</a>
            </div>
        </div>
    </form>
</div>

@section scripts{
    <partial name="_ValidationScriptsPartial" />
}