@if(TempData["success"] != null) {
    <div class="alert alert-success">
        <strong>Success!</strong> @TempData["success"]
    </div>
}

@if(TempData["error"] != null) {
    <div class="alert alert-danger">
        <strong>Error!</strong> @TempData["error"]
    </div>
}

