@page
@model BulkyWebRazor__Temp.Pages.Categories.IndexModel

<div class="container">

    <div class="row">
        <div class="col-md-6">
            <h1>Category</h1>
        </div>
        <div class="col-md-6 text-end">
            <a asp-area="" asp-page="/categories/create" class="btn btn-primary">
                Add
            </a>
        </div>
    </div>

    <partial name="_validationError" />

    <table class="table table-responsive table-stripped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Order</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model.CategoryList)
            {
                <tr>
                    <td>@obj.Name</td>
                    <td>@obj.DisplayOrder</td>
                    <td>
                        <div class="w-100 btn-group">
                            <a asp-page="/categories/edit" asp-route-id="@obj.Id" class="btn btn-primary">
                                Edit    
                            </a>
                            <form asp-page="/categories/delete" asp-route-id="@obj.Id" method="post">
                                <button class="btn btn-danger">
                                    delete
                                </button>
                            </form>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
